# This is the cron schedule for rsnapshot backups
# NOTE: This config is controlled by Ansible and may be overwritten periodically

# Runs every 4 hours daily
0 */4   * * *           root    /usr/bin/rsnapshot alpha

# Runs daily at 3 AM
0  3    * * *           root    /usr/bin/rsnapshot beta

# Runs every Monday at 4 AM
0  4    * * 1           root    /usr/bin/rsnapshot gamma

# Runs on the 1st of every month at 5 AM
0  5    1 * *           root    /usr/bin/rsnapshot delta
